* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to right top, #84fab0 0%, #8fd3f4 100%);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;

    &:hover {
      color: blueviolet;
    }
  } 
  
  .container {
    min-height: 80vh;
    width: 40%;
    border-radius: 1.3rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #426696;
      padding: 1rem 0;
      opacity: 0.8;

      &:hover {
        opacity: 0.5;
      }
    }

    #pokeId, #usdValue {
      color: crimson;
      opacity: 0.8;
    }

    #pokeId {
      font-size: 3rem;
    }

    #usdValue {
      font-size: 2rem;
    }

    img {
      width: 15rem;
    }
  }
  .credit {
    font-size: .8rem;
  }
}